<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <h1 th:text="Cars"></h1>
        <table border="5">
            <tr>
                <th>mark</th>
                <th>model</th>
                <th>series</th>
            </tr>

            <tr th:each="car : ${cars}">
                <td th:utext="${car.mark}"></td>
                <td th:utext="${car.model}"></td>
                <td th:utext="${car.series}"></td>
            </tr>
        </table>
    </th:block>
</div>
</body>
</html>